name: 'CI'
on:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-format-lint-package-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install
        run: yarn --frozen-lockfile

      - name: build
        run: yarn build

      - name: format
        run: yarn format-check

      - name: lint
        run: yarn lint

      - name: package
        run: yarn package

      - name: test
        run: yarn test

      - name: dispatch e2e test
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.DISPATCH_TOKEN }}" \
            https://api.github.com/repos/saulmaldonado/skip-workflow/actions/workflows/3497271/dispatches \
            -d '{"ref":"main", "inputs": {"sha": "${{ github.event.pull_request.head.sha || github.sha }}"}}'

      - name: codecov
        run: bash <(curl -s https://codecov.io/bash)
